.container {
  margin: 0px 0px;
  padding: 30px 30px;
}

.imglist {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}

.avatar {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.imgsection {
  position: relative;
}

.imgsection > div {
  position: absolute;
  padding-left: 10px;
  color: white;
}

.top {
  top: 30px;
}
.bottom {
  bottom: 30px;
}
